# Estrutura de dados

1) Declaração de variáveis

2)  Determinando o tipo de variável com type()

Python -> type()

    int (integer)
    float
    str (string)
    list
    tuple
    dict (dictionary)
    bool (Boolean True/False)

## 3 - Int

## 4 - Float

## 5 - Str


        s = "Now I'm ready to use the single quotes inside a string!"
        
        s.upper()
        
    ** Explorar métodos

In [83]:
name = 'python'
print('Name {} , id {}'.format(name,id(name)))
print('\f')
name+='ista'
print('Name {} , id {}'.format(name,id(name)))

Name python , id 139779444812464

Name pythonista , id 139778677388080

## 6 - List

In [85]:
x_list = [1,2,3,4]
print('List {} , id {}'.format(x_list,id(x_list)))
print('\f')
x_list.append(1)
print('List {} , id {}'.format(x_list,id(x_list)))

List [1, 2, 3, 4] , id 139778677428864

List [1, 2, 3, 4, 1] , id 139778677428864

## 7 - Tuple
---

In [86]:
x_tuple = (1,2,3,4)
print('Tuple {} , id {}'.format(x_tuple,id(x_tuple)))
print('\f')
x_tuple += 1,
print('Tuple {} , id {}'.format(x_tuple,id(x_tuple)))

Tuple (1, 2, 3, 4) , id 139778677417936

Tuple (1, 2, 3, 4, 1) , id 139778679163888

## 8 - Dict

In [89]:
x_dict = {'key1':'python','key2':10,'key3':[1,2,3,4]}
print('Dict {} , id {}'.format(x_dict,id(x_dict)))
print('\f')
x_dict['key2'] = x_dict['key2']+1
print('Dict {} , id {}'.format(x_dict,id(x_dict)))

Dict {'key1': 'python', 'key2': 10, 'key3': [1, 2, 3, 4]} , id 139778677428128

Dict {'key1': 'python', 'key2': 11, 'key3': [1, 2, 3, 4]} , id 139778677428128

## 9 - Bool

In [106]:
x1 = True
y1 = x1 

print(x1 == y1)
print(x1 is y1)
y1 =  not True 
print(y1)
print(x1 is y1)
print(x1 == y1)
# x1 = y1
# print(x1 is y1)
# print(x1 == y1)

True
True
False
False
False

## 10 - JSON

In [ ]:
import pandas as pd
import json

data_offline_sales = []
with open('offline_sales.json') as f:
    for line in f:
        data_offline_sales.append(json.loads(line))
        
df_offline_sales = pd.DataFrame(data_offline_sales)
display(df_offline_sales.head(n=5))

## 11 - PANDAS

In [ ]:
df = pd.read_clipboard()

## ESTRUTURA DE CONTROLE DE DADOS
---

## IF / THEN / ELSE

    if case1:
        perform action1
    elif case2:
        perform action2
    else: 
        perform action3

---
# FOR LOOP

        for item in object:
            statements to do stuff

---
## LISTS

    for num in list1:
        list_sum = list_sum + nu

---
## TUPLES

    Tuple unpacking
    
    >>> x = [(1,2), (3,4), (5,6)]
    >>> for item in x:
    ...     print "A tuple", item
    A tuple (1, 2)
    A tuple (3, 4)
    A tuple (5, 6)
    >>> for a, b in x:
    ...     print "First", a, "then", b
    First 1 then 2
    First 3 then 4
    First 5 then 6

---
## DICTIONARY

    for k,v in d.items():
        print(k)
        print(v)

---
## PANDAS
    
    df = pd.DataFrame(data=[[1,2],[8,6],[1,2],[8,6]], columns = ['x','y'])
    
### DICA !!!!    
    iloc numérico
    loc numérico
    misto loc

In [13]:
df = pd.DataFrame(data=[[1,2],[8,6],[1,2],[8,6]], columns = ['x','y'])

In [14]:
for idx in df.index:
    print(df.loc[idx, 'x'])

1
8
1
8

In [15]:
for col in df.columns:
    print(df.loc[:, col])

0    1
1    8
2    1
3    8
Name: x, dtype: int64
0    2
1    6
2    2
3    6
Name: y, dtype: int64

In [17]:
for i in range(len(df)) : 
  print(df.loc[i, 'x'], df.loc[i, 'y'])

1 2
8 6
1 2
8 6

In [19]:
for i in range(len(df)) : 
  print(df.iloc[i,0], df.iloc[i,1])

1 2
8 6
1 2
8 6

In [20]:
for i in range(len(df)) : 
  print(df.iloc[i])

x    1
y    2
Name: 0, dtype: int64
x    8
y    6
Name: 1, dtype: int64
x    1
y    2
Name: 2, dtype: int64
x    8
y    6
Name: 3, dtype: int64

--- 
## WHILE LOOPS

        

        x = 0

        while x < 10:
            print('x is currently: ',x)
            print(' x is still less than 10, adding 1 to x')
            x+=1
            if x==3:
                print('Breaking because x==3')
                break
            else:
                print('continuing...')
                continue

## FUNÇÕES

In [21]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes
    '''
    # Do stuff here
    # Return desired result

Criar:

1) Uma função que cálcula o quadrado de um número

2) Uma função que transforma números em palavras retornando uma frase:

        entrada 
                
                produto = sapato
                preço = 12
                quantidade = 10
                
        saida 
                
                A loja possui 10 sapatos com o preço de 10

# Desafios
---

## ESTRUTURA DE DADOS + CONTROLE + FUNÇÕES

![alt text](https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/International_Morse_Code.svg/630px-International_Morse_Code.svg.png "Python Bootcamp")

In [62]:
morse ={
    "" : "",
    "A" : ".-",
    "B" : "-...",
    "C" : "-.-.",
    "D" : "-..",
    "E" : ".",
    "F" : "..-.",
    "G" : "--.",
    "H" : "....",
    "I" : "..",
    "J" : ".---",
    "K" : "-.-",
    "L" : ".-..",
    "M" : "--",
    "N" : "-.",
    "O" : "---",
    "P" : ".--.",
    "Q" : "--.-",
    "R" : ".-.",
    "S" : "...",
    "T" : "-",
    "U" : "..-",
    "V" : "...-",
    "W" : ".--",
    "X" : "-..-",
    "Y" : "-.--",
    "Z" : "--..",
    "1" : ".----",
    "2" : "..---",
    "3" : "...--",
    "4" : "....-",
    "5" : ".....",
    "6" : "-....",
    "7" : "--...",
    "8" : "---..",
    "9" : "----.",
    "0" : "-----",
    ".\n" : ".-.-.-",
    "," : "--..--",
    ":" : "---...",
    "?" : "..--..",
    "'" : ".----.",
    "-" : "-....-",
    "/" : "-..-.",
    "@" : ".--.-.",
    "\n<BT>\n" : "-...-",
    "<SN>" : "...-.",
    "<KN>" : "-.--."
}

In [63]:
import pandas as pd

df = pd.DataFrame.from_dict(morse, orient='index')
df1 = df.iloc[:16][:].T
df2 = df.iloc[16:32][:].T
df3 = df.iloc[32:45][:].T

In [64]:
display(df1)

      A     B     C    D  E     F    G     H   I     J    K     L   M   N    O
0    .-  -...  -.-.  -..  .  ..-.  --.  ....  ..  .---  -.-  .-..  --  -.  ---

In [65]:
display(df2)

,P,Q,R,S,T,U,V,W,X,Y,Z,1,2,3,4,5
0,.--.,--.-,.-.,...,-,..-,...-,.--,-..-,-.--,--..,.----,..---,...--,....-,.....

In [66]:
display(df3)

,6,7,8,9,0,.\n,",",:,?,',-,/,@
0,-....,--...,---..,----.,-----,.-.-.-,--..--,---...,..--..,.----.,-....-,-..-.,.--.-.

In [30]:
df.rename(index={0: 'morse_code'})

,,A,B,C,D,E,F,G,H,I,...,",",:,?,',-,/,@,\n<BT>\n,<SN>,<KN>
morse_code,,.-,-...,-.-.,-..,.,..-.,--.,....,..,...,--..--,---...,..--..,.----.,-....-,-..-.,.--.-.,-...-,...-.,-.--.

---
Neste arquivo Jupyter você terá acesso ao dicionário *morse*, ele será utilizado para os exercícios sobre estrutura de dados:

1 - Qual o código das letras -> a,b,e,t,y,@ ?

2 - Quais os tipos destes caractéres?

3 - Descodifique a lista: 

        palavra = [---,.-..,.-,None,.--.,-.--,-,---,-.,..,...,-,-,.-]
        
4 - Codifique a palavra:

        palavra = 'Python'
        
5 - Crie uma função de codificação e descodificação Morse